bin/
obj/
out/
bin/Debug/net8.0/
obj/Debug/net8.0/
artifacts/
ref/
refint/

*.log
[Ll]og/
*.tmp
*.bak
*.swp
*.swo
~$*

.vs/
*.suo
*.user
*.csproj.user
*.dbmdl
*.userosscache
*.sln.docstates
*.sln.ide

.idea/
.vscode/
.vscode/*
.history/

_ReSharper*/
*.DotSettings.user

*.nupkg
*.snupkg
*.nuspec
*.psmdcp
packages/
project.lock.json
project.fragment.lock.json

ScaffoldingReadMe.txt

*.generated.cs
*.g.cs
*.AssemblyInfo.cs

Migrations/

coverage/
TestResults/
*.coverage
*.coveragexml
*.dotCover

**/docker-compose.override.yml
.dockerignore

appsettings.Development.json
appsettings.Local.json
appsettings.*.json

*.ncrunch*
*.localhistory
